/* common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* banner style */
.banner {
  background-color: rgb(22, 22, 22);
  width: 80%;
  height: auto;
  margin: 50px auto;
  border-radius: 30px;
  display: flex;
}
/* banner left style */
.banner-left {
  margin: 50px;
  flex: 1;
}
.banner-left-title {
  font-size: 70px;
  font-weight: 700;
  row-gap: 80px;
  color: rgb(255, 255, 255);
}
.banner-left-description {
  font-weight: 400;
  row-gap: 26px;
  color: rgb(255, 255, 255);
}
.btn-primary {
  background-color: rgb(221, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 16px 25px;
}
/* banner right style */
.banner-right {
  margin-top: 80px;
  flex: 1;
  height: 500px;
  overflow: hidden;
}
.banner-right-img {
  max-width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

/* main style */
main {
  max-width: 80%;
  display: flex;
  margin: 50px auto;
  gap: 40px;
}
/* main btn style */
.btn {
  background-color: rgb(22, 22, 22);
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
}
.btn .btn-primary:nth-child(1) {
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.btn .btn-primary:nth-child(2) {
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
/* box style */
.cards {
  max-width: 75%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.box {
  width: 100%;
  height: 350px;
  border: 1px solid rgb(239, 215, 215);
  border-radius: 5px;
}
.box img {
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0 0;
}
.text {
  padding: 15px;
}
.box .btn {
  width: 100px;
  height: 32px;
  color: 1px Inside rgb(22, 22, 22);
  background-color: #ffffff;
  border: 2px solid tomato;
  border-radius: 8px;
  padding: 8px 10px 10px 10px;
}
/* footer style */
footer {
  width: 100%;
  height: 300px;
  background-color: black;
  padding: 30px;
}
footer h1 {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #4b3a3a;
  padding: 20px;
}
.footer-nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}
.footer-nav ul li a{
    text-decoration: none;
    color: #c19d9d;
}
